<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main Admin Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark static-top" style="background-color: #1b5a7a">
    <div class="container">
        <a class="navbar-brand" href="/">Baza Oceanarium Politechniki Warszawskiej</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">



                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/main_admin}">Main
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/pracownicy_admin}">Pracownicy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Okazy
                        <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/bilety_admin}">Bilety</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">Jesteś zalogowany jako <b
                            style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="mt-5" align="center">
    <h1>Dodaj adres</h1>

    <br/>

    <div class="container" style="width: 500px">
        <form action="#" th:action="@{/saveadres_admin}" th:object="${adresy}" method="post">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text  " style="width: 150px">Kod pocztowy</span>
                </div>
                <input class="form-control" type="tel" th:field="*{kod_pocztowy}" maxlength="6" required>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text  " style="width: 150px">Miasto</span>
                </div>
                <input class="form-control" type="text" th:field="*{miasto}" required>
            </div><div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text  " style="width: 150px">Ulica</span>
            </div>
            <input class="form-control" type="text" th:field="*{ulica}" required>
        </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text  " style="width: 150px">Numer domu</span>
                </div>
                <input class="form-control" type="tel" th:field="*{nr_domu}" maxlength="3" required>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text  " style="width: 150px">Numer lokalu</span>
                </div>
                <input class="form-control" type="tel" th:field="*{nr_lokalu}" maxlength="3">
            </div>

            <button
                    class='btn text-white'
                    style="background-color: #1b5a7a; font-size: 18px"
                    type="submit"
            >Zapisz</button>
        </form>
    </div>

</div>

<div align="center">


</div>



<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>