<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main Admin Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark static-top" style="background-color: #1b5a7a">
    <div class="container">
        <a class="navbar-brand" href="/">Baza Oceanarium Politechniki Warszawskiej</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">



                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/main_admin}">Main
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Pracownicy
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/okazy_admin}">Okazy</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/bilety_admin}">Bilety</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">You are logged in as <b
                            style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-10 mt-5">

            <label style="font-size:30px">Zarządzanie Pracownikami</label>
            <div style="font-size:20px">Edytowanie danych związanych z Pracownikami
            </div>

        </div>
    </div>
</div>

<div style="margin-left: -550px">
    <div class="container text-nowrap">
        <div class="col-md-10 mt-5">
            <a href="/newadres_admin"
               class="btn text-white mt-1 mb-1"
               style="background-color: #1b5a7a; font-size: 18px"
            >Dodaj nowego pracownika</a>
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th>Stanowisko</th>
                    <th>Imie</th>
                    <th>Nazwisko</th>
                    <th>Data urodzenia</th>
                    <th>Płeć</th>
                    <th>PESEL</th>
                    <th>Telefon</th>
                    <th>Email</th>
                    <th>Data zatrudnienia</th>
                    <th>Wyksztalcenie</th>
                    <th>Adres</th>
                    <th>Operacja</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="pracownicy : ${listPracownicy}">
                    <td th:text="${pracownicy.id_stanowiska}">id_stanowiska</td>
                    <td th:text="${pracownicy.imie}">imie</td>
                    <td th:text="${pracownicy.nazwisko}">nazwisko</td>
                    <td th:text="${pracownicy.data_urodzenia}">data_urodzenia</td>
                    <td th:text="${pracownicy.plec}">plec</td>
                    <td th:text="${pracownicy.pesel}">pesel</td>
                    <td th:text="${pracownicy.telefon}">telefon</td>
                    <td th:text="${pracownicy.email}">email</td>
                    <td th:text="${pracownicy.data_zatrudnienia}">data_zatrudnienia</td>
                    <td th:text="${pracownicy.wyksztalcenie}">wyksztalcenie</td>
                    <td th:text="${pracownicy.id_adresu}">Adres</td>
                    <td>
                        <a th:href="@{'/editpracownik/' + ${pracownicy.id_pracownika}}">Edytuj</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a th:href="@{'/deletepracownik/' + ${pracownicy.id_pracownika}}">Usuń</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



   <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
   <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
   <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
   <script th:src="@{/js/script.js}"></script>

   </body>
   </html>