<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main Admin Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark static-top" style="background-color: #1b5a7a">
    <div class="container">
        <a class="navbar-brand" href="/">Baza Oceanarium Politechniki Warszawskiej</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">



                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/main}">Main
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/editpracownik/9}">Pracownicy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Okazy
                        <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/bilety}">Bilety</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">Jesteś zalogowany jako <b
                            style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<div class="mt-5" align="center">
    <h1>Edytuj Gatunek</h1>

    <br/>

    <form action="#" th:action="@{/updategatunek_user}" th:object="${gatunki}" method="post">
        <table border="1" cellpadding="10">
            <tr>
                <td>id_gatunku:</td>
                <td><input type="text" th:field="*{id_gatunku}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>typ_gatunku:</td>
                <td><select th:field="*{typ_gatunku}">
                    <option th:value="'Ryba'" th:text="Ryba"></option>
                    <option th:value="'Gad'" th:text="Gad"></option>
                    <option th:value="'Ssak'" th:text="Ssak"></option>
                    <option th:value="'Płaz'" th:text="Płaz"></option>
                    <option th:value="'Bezkręgowiec'" th:text="Bezkręgowiec"></option>
                    <option th:value="'Roślina'" th:text="Roślina"></option>

                </select></td>
            </tr>

            <tr>
                <td>nazwa:</td>
                <td><input type="text" th:field="*{nazwa}" maxlength="15"></td>
            </tr>

            <tr>
                <td>rozmnazanie:</td>
                <td><input type="text" th:field="*{rozmnazanie}" maxlength="30"></td>
            </tr>

            <tr>
                <td>pochodzenie:</td>
                <td><input type="text" th:field="*{pochodzenie}" maxlength="30"></td>
            </tr>

            <tr>
                <td>wystepowanie:</td>
                <td><input type="text" th:field="*{wystepowanie}" maxlength="30"></td>
            </tr>

            <tr>
                <td>pokarm:</td>
                <td><input type="text" th:field="*{pokarm}" maxlength="30"></td>
            </tr>
            <tr>
                <td>opis:</td>
                <td><input type="text" th:field="*{opis}" maxlength="100"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><button type="submit">Zapisz</button></td>
            </tr>
        </table>
    </form>
</div>

<div align="center">


</div>



<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>