<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main Admin Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark static-top" style="background-color: #1b5a7a">
    <div class="container">
        <a class="navbar-brand" href="/">Baza Oceanarium Politechniki Warszawskiej</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">



                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/main_user}">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/editpracownik_user/9}">Pracownicy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/okazy_user}">Okazy</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="#">Bilety
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">Jesteś zalogowany jako <b
                            style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<div class="mt-5" align="center">
    <h1>Dodaj bilet</h1>

    <br/>

    <div class="container" style="width: 500px">
        <form action="#" th:action="@{/savebilet_user}" th:object="${bilety}" method="post">

            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 150px">Typ biletu</span>
                </div>
                <select class="form-control" th:field="*{typ_biletu}">
                    <option th:value="'Normalny'" th:text="Normalny"></option>
                    <option th:value="'Ulgowy'" th:text="Ulgowy"></option>
                    <option th:value="'Szkolny'" th:text="Szkolny"></option>
                    <option th:value="'Studencki'" th:text="Studencki"></option>

                </select>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text " style="width: 150px">Rodzaj biletu</span>
                </div>
                <select class="form-control" th:field="*{rodzaj_biletu}">
                    <option th:value="'Indywidualny'" th:text="Indywidualny"></option>
                    <option th:value="'Rodzinny'" th:text="Rodzinny"></option>
                    <option th:value="'Grupowy'" th:text="Grupowy"></option>


                </select>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 150px">Nazwa</span>
                </div>
                <input class="form-control"  type="text" th:field="*{nazwa}" >
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 150px">Cena</span>
                </div>
                <input class="form-control" type="text" th:field="*{cena}" maxlength="3" required>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 150px">Data biletu</span>
                </div>
                <input class="form-control" type="date" th:field="*{data_biletu}" required>
            </div>

            <button
                    class='btn text-white'
                    style="background-color: #1b5a7a; font-size: 18px"
                    type="submit"
            >Zapisz</button>
        </form>
    </div>

</div>
<div align="center">


</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>