<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Strona tytułowa</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>



<nav class="navbar navbar-expand-lg navbar-dark static-top" style="background-color: #1b5a7a">
    <div class="container">
        <a class="navbar-brand" href="/">Baza Oceanarium Politechniki Warszawskiej</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/main}">Login</a></a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div style="width: 100%">
    <img th:src="@{/images/bg.jpg}" style="width: 100%"/>
    <div class="container text-center position-absolute text-white" style="top: 250px; left: 50%; transform: translate(-50%, 0)">
        <img th:src="@{/images/logofinal2.png}"/>
        <label class="text-justify" style="font-size: 42px;"> Politechnika Warszawska</label>
        <div>
        <a type="button" class="btn btn-primary" th:href="@{/main}" style="margin-top: 5px; width: 200px; height: 60px; background-color: #1b5a7a; border-color: #1b5a7a; border-radius: 0; padding-top: 7px; justify-content: center; font-size: 28px">Zaloguj się</a>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>